* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #190b22, #0c164d);
}

/*HEADER*/

#page-header {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 2rem;
    border-bottom: .2rem solid #322838;
  }

#search-field {
    height: 3rem;
    width: 25rem;
    border-radius: 4px;
    border: 1px solid #f5f4f8;
    font-size: larger;
    color: #322838;
    padding-left: 1rem;
}

#search-btn {
    height: 3rem;
    width: 5rem;
    background-color: #FFD029;
    border: 1px solid #fcf3d3;
    border-radius: 4px;
    font-size: larger;
    color: #190b22;
}

h1 {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-size: 4em;
    color: #f5f4f8;
    letter-spacing: .2em;
}

h2 {
    font-family: "Lora", serif;
        font-weight: 400;
        font-size: 2.05em;
        color: #ffd029;
        text-align: right;
        letter-spacing: .49em;
        padding-right: .2em;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.75rem;
}

#sun-and-planets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#sun {
    width: 15rem;
    height: 30rem;
    border-radius: 0 15rem 15rem 0;
    background-color: #FFD029;
}

#planet-container {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

.planets {
    border-radius: 50%;
    &:hover {
        transform: scale(2);
      }
}

#mercurius {
    width: .44rem;
    height: .44rem;
    background-color: #888888;
}

#venus {
    width: .8rem;
    height: .8rem;
    background-color: #E7CDCD;
}

#tellus {
    width: .9rem;
    height: .9rem;
    background-color: #428ED4;
}

#mars {
    width: .44rem;
    height: .44rem;
    background-color: #EF5F5F;
}

#jupiter {
    width: 8rem;
    height: 8rem;
    background-color: #E29468;
}

#saturnus {
    position: relative;
}

#saturnus-mass {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #C7AA72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#saturnus-ring {
    height: 5.7rem;
    width: .2rem;
    background-color: #ffffff50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    z-index: 1;
}

#uranus {
    width: 2.1rem;
    height: 2.1rem;
    background-color: #C9D4F1;
}

#neptunus {
    width: 2.1rem;
    height: 2.1rem;
    background-color: #7A91A7;
}

footer {
    padding-top: 1rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    color: #e7e3f0;
    border-top: .2rem solid #322838;
}

h4 {
    margin-left: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    color: #ffd029;
}